





* {
    margin: 0px;
    padding: 0%;
    text-align: center;
}

h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}
.choice {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
}
img {
    height: 150px;
    width: 150px;
    object-fit:cover ;
    border-radius: 50%;

}
.choices {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;
}
.choice:hover {
    
    cursor: pointer;
   opacity: 0.5;

}

.score-board{
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 5rem;
}

#msg {
    background-color: rgb(168, 24, 204);
    color: white;
    display: inline;
    font-size:2rem ;
    padding: 1rem;
    border-radius: 1rem;
}
.msg-container {
    margin-top: 5rem;
}



#user-score,
#comp-score {
    font-size: 4rem;

}